<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="custom-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active-link">Home</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active-link">About</a>
        <!-- Add more links as needed -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="contener" fxLayout="column">
        <div fxFlex="10" fxLayoutAlign="space-between center">
          <h2>Home</h2>
          <button mat-flat-button color="primary">+ Automation</button>
        </div>
        <div fxFlex="30">
          <app-automation 
          [myAutomation]="holeData.top_analytics_cards"
          >
          </app-automation>
        </div>
        <div fxFlex>
          <app-common
          [xRay]="holeData.x_rays_triggers"
          [inbox_list]="holeData.inbox_list"
          >
          </app-common>
        </div>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  

  